<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://download.hipwallpaper.com/desktop/1920/1080/84/87/yxPqfA.jpg');">
  <div class="banner-content">
    <h1>Create Cocktail</h1>
    <p>Select below</p>
    <%= link_to 'Back', cocktails_path, class: "btn btn-default" %>
  </div>
</div>

<div class="container">
  <div class="row">

    <ul>
      <li>
      <p>Name of the cocktail</p>

        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.button :submit, class: "btn btn-default" %>
        <% end %>

      </li>
      <li>
        <%= link_to 'Back', cocktails_path, class: "btn btn-default" %>
      </li>
    </ul>

  </div>
</div>
